body {
    height: 200vh;
    /* border: 2px solid black; */
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
}

nav {
    /* border: 2px solid black; */
    text-align: center;
    background: #2967b2;
    width: 80vw;
    transform: translateX(10%);
    border-radius: 20px;
}

ul {
    margin-block: 0;
}

li {
    display: inline-block;
    padding: 20px;
    font-weight: bold;
}

li > a {
    color: white;
    text-decoration: none;
}

article {
    margin-top: 30px;
    padding-inline: 15px;
    text-align: justify;
    text-indent: 40px;
}

.floating-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

img {
    width: 50px;
}